
:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

body{
    background: url(flashcard-imagens/img/bg-desktop.webp);
    margin: 0px;
    padding: 0px;
    font-family: Bai Jamjuree;
}

.container{
    display: flex;

}

.cartao{
    margin: 1em 1em;

    height: 20em;
    flex-grow: 1;
    flex-basis: calc(33% - 6em);
}

footer{
    background-color: #000000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
}

footer p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 2em;
}

.cartao__conteudo{
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
    border-radius: 10px;
}

.cartao__conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 0.5em;
    position: absolute;
    font-size: 1vw;
    margin: 0.5em;
}

.cartao__conteudo__pergunta p{
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao:hover .cartao__conteudo{
    transform: rotateY(180deg);

}