
:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00f4bf;
}

body{
    background: url(flashcard-imagens/img/bg-desktop.webp);
    margin: 0px;
    padding: 0px;
    font-family: Bai Jamjuree;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
    gap: 1em;
}

.cartao{
    margin: 1em 1em;
    height: 20em;
    flex-grow: 1;
    flex-basis: calc(33% - 6em);
}

footer{
    background-color: #000000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
}

footer p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 2em;
}

.cartao__conteudo{
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 0.5em;
    position: absolute;
    font-size: 1vw;
    margin: 0.5em;
    backface-visibility: hidden;
}

.cartao__conteudo__pergunta p{
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p{
    color: var(--card-back-color);
    font-weight: 700;
    text-align:center;
    margin-top: 8em;
}

.cartao:active .cartao__conteudo{
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta
{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 7em;
    box-sizing: border-box ;
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rgba(0, 244, 191, 0.2); 
    border: 4px solid var(--card-back-color);
    margin-top: 0%;
}